.formContainer{
    grid-area: form;
    border:blue 2px solid;
}
.imgContainer {
    grid-area: yogaImg;
    border:red solid 1px;
    overflow: hidden;
}

#contacto {
    display: grid;;
    grid-template:  auto / 50% 50%;  
    grid-template-areas:
            "form yogaImg"
            
    
}


