body {
    height: 100vh;
    width: 100%;
  
}
#contacto{
   
    height: 100vh;
    
    
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.formContainer form {
    width: 80%;
    margin:5px;
    max-width: 450px;
}

.encabezadoFormContacto h1{
    color: var(--color-boton);
    text-align: center;
    letter-spacing: 2px;
    margin-top: 1em;
    padding:1em;
    font-size: 40px;
}

.encabezadoFormContacto p {
    display:none;
}

.formContainer input {
    border: none;
    border-bottom: var(--color-linea) 0.1em solid;
    color: var(--color-linea);
    width: 100%;
    font-size: 1em;
    padding: 5px 0px;
    margin-top: 20px;
    
}

.formContainer textarea{
    border:none;
    min-height: 30px;
    height:120px;
    border-bottom: var(--color-linea) 0.1em solid;
    color: var(--color-linea);
    width: 100%;
    font-size: 1em;
    padding: 5px 0px;
    margin-top: 20px;
    resize: vertical;
    overflow: hidden;
}

.formContainer button{
    color:var(--color-boton-texto);
    width: 80%;
    padding:10px;
    font-size: 1em;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: var(--color-boton);
    display:block;
    margin: 2em auto ;
    cursor:pointer;
   
}

.formContainer button:hover{
    background-color: var(--color-boton-hover);
}

.imgContainer{
   display:none; 
}
@media (min-width: 500px) {
    .encabezadoFormContacto p {
        color: var(--color-texto-comentarios);
        display: block;  
        font-size: 0.75em;
        text-align: center;
        padding-bottom:2em;
    }
}
@media (min-width: 980px) {
    #contacto{
        display: flex;
    }
    .imgContainer {
        display: flex;
        width: 30%;
        align-items: center;
    }

    .imgContainer img {
        width: 100%;
        height: 50%;
        overflow: hidden;
        border-radius: 10px;
        opacity: 0.8;
    }
    .formContainer{
        width:50%;
    }

    .formContainer button {
        width: 40%;
    }
}