.form{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
}

.form_title h1{
    color: var(--color-boton);
    text-align: center;
    letter-spacing: 2px;
    margin-top: 1em;
    padding:1em;
    font-size: 40px;
}

.form_title p {
        color: var(--color-texto-comentarios);
        display: block;  
        font-size: 1em;
        text-align: center;
        padding-bottom:2em;
    }

.form_paragraph{
    font-size: 18px;
    color: #bb47b3;
    margin-bottom: 15px;
}

.formContainer{        
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border: none;
}

.form_input{
    border: none;
    border-bottom: var(--color-linea) 0.1em solid;
    color: var(--color-linea);
    width: 100%;
    font-size: 1em;
    padding: 5px 0px;
    margin-top: 20px;
    
}

.form_submit{
    background-color: #d64bcd;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
}

button.enviar{
    color:var(--color-boton-texto);
    width: 50%;
    padding:10px;
    font-size: 1em;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: var(--color-boton);
    display:block;
    margin: 2em auto ;
    cursor:pointer;
}

button.enviar:hover{
    background-color: rgb(224, 74, 192);
}

.imgContainer{
    display: none;
}

@media (min-width: 500px) {

}

@media (min-width: 980px) {
    #contacto{
        display: flex;
    }
    .imgContainer {
        display: flex;
        width: 30%;
        align-items: center;
    }

    .imgContainer img {
        width: 100%;
        height: 50%;
        overflow: hidden;
        border-radius: 10px;
        opacity: 0.8;
    }
    .formContainer{
        width:50%;
    }

    .formContainer button {
        width: 40%;
    }
}