/*------Selector universal-------*/

*   {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding: 0;
    box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap'); /*Importamos fuentes*/
:root{
    --color-barra-lateral: rgb(255,255,255);
    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(51, 51, 51);
    --color-texto-comentarios:rgb(201, 61, 171);
    --color-boton:rgb(201, 61, 171);
    --color-boton-texto:rgb(255,255,255);
    --color-menu-hover: rgb(219, 218, 218);
    --color-boton-hover:rgb(224, 74, 192);
    --color-menu-hover-texto: rgb(0,0,0);
    --color-linea: rgb(173, 173, 173);
    --color-switch-base: rgb(201,202,206);
    --color-switch-circulo: rgb(241,241,241);
    --color-scroll: rgb(0,0,0);
    --color-scroll-hover: rgb(134,136,144);
    --color-boton-login: rgb(119, 119, 119);
}

.modo-oscuro-activado{
    --color-barra-lateral: rgb(44,45,49);
    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(194, 194, 194);
    --color-boton:rgb(201, 61, 171);
    --color-boton-texto:rgb(238,238,238);
    --color-boton-hover:rgb(224, 74, 192);
    --color-menu-hover: rgb(61, 61, 61);
    --color-menu-hover-texto: rgb(255, 255, 255);
    --color-linea: rgb(85, 84, 94);
    --color-switch-base: rgb(39,205,64);
    --color-switch-circulo: rgb(255,255,255);
    --color-scroll: rgb(255,255,255);
    --color-scroll-hover: rgb(134,136,144);
    --color-boton-login: rgb(151, 151, 151);
}