{% extends 'index.html' %}

{% block title %} <title>Actividades</title>{% endblock %}

<body>

    <main>
    {% block content %}
          <section id="cursos">
            <div class="contenedor_cursos">
                <h2>Nuestros horarios</h2>
                <p class="clases">Clases de Yoga</p>
                <div class="grid-container_clases">

                        {% for curso in cursos %}
                        <div class="tipo-yoga">
                            <strong class="tipo-horarios">{{ curso['NombreCurso'] }}</strong>
                            <table>
                                {% for horario in curso['Horarios'].split(',') %}
                                    <tr class="cada_horario">
                                        <td>{{ horario }}
                                            {% if session.id_usuario %}
                                                <button class="reserva" ><a href="/usuario">Reservar</a></button>
                                            {% else %}
                                                <button class="reserva" ><a href="/login">Reservar</a></button>
                                            {% endif %}
                                            
                                        </td></tr>
                                        
                                {% endfor %}
                            </table>
                        </div>
                        {% endfor %}
        </section>
        {% endblock %}
    </main>
</body>

</html>




