<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/static/imagenes/minilogo.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/estilos_index.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/estilo_barra_lateral.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/estilo_footer.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/fuentesycolores.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/estilo_registro.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/estilos_contacto.css"
    />
    {% block title %}
    <title>Inicio</title>
    {% endblock %}
  </head>
  {% endblock %}

  <body>
    {% block header %}
    <header>
      <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
      </div>
      <div
        class="barra-lateral barra-lateral-activar"
        id="barra-lateral-activar"
      >
        <div class="barra-lateral-activar">
          <div class="nombre-pagina barra-lateral-activar">
            <ion-icon
              name="menu-outline"
              class="barra-lateral-activar"
            ></ion-icon>
            <span
              ><a href="/"
                ><img
                  src="static/imagenes/Logo.png"
                  alt=""
                  width="20px"
                  height="60px" /></a
            ></span>
          </div>
          <button
            class="boton-ingresar"
            onclick="window.location.href='/login'"
          >
            <ion-icon name="log-in-outline"></ion-icon>
            <span>Ingresar</span>
          </button>
        </div>
        <nav class="navegacion">
          <ul>
            <li>
              <a href="/" class="activo">
                <ion-icon name="home-outline"></ion-icon>
                <span>Inicio</span>
              </a>
            </li>
            <li>
              <a href="/actividades">
                <ion-icon name="library-outline"></ion-icon>
                <span>Actividades</span>
              </a>
            </li>
            <li>
              <a href="/nosotros">
                <ion-icon name="help-outline"></ion-icon>
                <span>Nosotros</span>
              </a>
            </li>
            <li>
              <a href="/contacto">
                <ion-icon name="mail-outline"></ion-icon>
                <span>Contacto</span>
              </a>
            </li>
            <li>
              <a href="/registrarse">
                <ion-icon name="add-outline"></ion-icon>
                <span>Registrate</span>
              </a>
            </li>
          </ul>
        </nav>
        <div>
          <div class="linea"></div>
          <div class="modo-oscuro">
            <div class="info">
              <ion-icon name="moon-outline"></ion-icon>
              <span>Modo Oscuro</span>
            </div>
            <div class="switch">
              <div class="base">
                <div class="circulo"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% endblock %}

    <main>
      {% block scripts %}
      <script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
        nomodule
        src="https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"
      ></script>
      <script src="static/js/script.js"></script>
      {% endblock %} {% block content %}
      <section id="imagen_portada">
        <div class="saludo">
          <h1>¡Bienvenidos a Olympia!</h1>
        </div>
        <div class="title">
          <h2>Yoga y Terapias Holísticas</h2>
          <h2>Encuentra equilibrio y bienestar</h2>
        </div>
      </section>
      <section id="cursos">
        <div class="contenedor_cursos">
          <h2>Nuestras actividades</h2>
          <div class="nuestros-cursos">
            <div class="item">
              <div class="texto-izq">
                <h3>Hatha Yoga</h3>
                <p>
                  Es una de las formas más tradicionales y populares de yoga. Es
                  un término que abarca muchos estilos y prácticas de yoga
                  físico. "Hatha" se deriva de las palabras sánscritas "ha" que
                  significa "sol" y "tha" que significa "luna". Esto simboliza
                  la unión de fuerzas opuestas, como el equilibrio entre lo
                  masculino y lo femenino, la fuerza y la flexibilidad, la
                  energía y la calma.
                </p>
              </div>
              <div class="img-1"></div>
            </div>

            <div class="item">
              <div class="img-2"></div>
              <div class="texto-der">
                <h3>Kundalini Yoga</h3>
                <p>
                  Es una forma de yoga que se enfoca en despertar y liberar la
                  energía kundalini, que se cree que está ubicada en la base de
                  la columna vertebral. Se considera una forma poderosa y
                  transformadora de yoga que combina posturas, técnicas de
                  respiración (pranayama), canto (mantras), gestos de mano
                  (mudras) y meditación para equilibrar el cuerpo, la mente y el
                  espíritu.
                </p>
              </div>
            </div>
            <div class="item">
              <div class="texto-izq">
                <h3>Restorative Yoga</h3>
                <p>
                  Es una forma suave y relajante de yoga que se centra en la
                  relajación y la restauración del cuerpo y la mente. A
                  diferencia de muchos otros estilos de yoga que implican
                  posturas activas y dinámicas, en el Restorative Yoga, las
                  posturas se mantienen durante períodos prolongados, a menudo
                  con el apoyo de accesorios como almohadas, mantas y bloques.
                  Esta práctica busca crear un ambiente de total comodidad y
                  relajación.
                </p>
              </div>
              <div class="img-3"></div>
            </div>

            <div class="item">
              <div class="img-4"></div>
              <div class="texto-der">
                <h3>Registros Akáshicos</h3>
                <p>
                  Son un concepto espiritual que proviene de las creencias de
                  varias tradiciones esotéricas y espirituales. Se cree que son
                  un campo de energía o una biblioteca cósmica que contiene la
                  información de todas las experiencias y eventos que han
                  ocurrido, están ocurriendo y ocurrirán en el universo.
                </p>
              </div>
            </div>
            <div class="item">
              <div class="texto-izq">
                <h3>Códigos Solares</h3>
                <p>
                  El Sol emite frecuencias y códigos de luz que tienen un
                  impacto en el despertar espiritual y la evolución de la
                  conciencia humana. Se cree que estos códigos contienen
                  información y energía que puede catalizar transformaciones a
                  nivel espiritual y emocional en las personas que se sintonizan
                  con ellos.
                </p>
              </div>
              <div class="img-5"></div>
            </div>

            <div class="item">
              <div class="img-6"></div>
              <div class="texto-der">
                <h3>Péndulo hebreo</h3>
                <p>
                  El péndulo hebreo es una herramienta utilizada en terapias
                  energéticas y esotéricas con el propósito de armonizar y
                  equilibrar energías en el cuerpo y el entorno. Su diseño se
                  basa en símbolos y letras hebreas que se consideran portadores
                  de energía y significado espiritual. El péndulo hebreo se
                  utiliza mediante movimientos específicos sobre el cuerpo o a
                  través del campo energético de una persona. Se cree que esta
                  práctica puede ayudar a liberar bloqueos emocionales y
                  físicos, promover la sanación, y restablecer el flujo
                  equilibrado de energía vital. Es importante destacar que el
                  péndulo hebreo es una herramienta que requiere conocimiento y
                  experiencia para su correcta utilización, y es aconsejable
                  buscar la guía de un terapeuta o instructor capacitado al
                  explorar esta práctica.
                </p>
              </div>
            </div>
            <div class="item">
              <div class="texto-izq">
                <h3>Reiki kundalini</h3>
                <p>
                  El Reiki es una forma de terapia energética que se originó en
                  Japón a principios del siglo XX. Se basa en la creencia de que
                  existe una energía vital universal que fluye a través de todos
                  los seres vivos y que, cuando esta energía se encuentra en
                  equilibrio, promueve la salud y el bienestar. Los practicantes
                  de Reiki canalizan esta energía a través de sus manos, que se
                  colocan sobre o cerca del cuerpo del receptor, con el fin de
                  armonizar y revitalizar los centros energéticos del organismo.
                  El objetivo del Reiki es promover la relajación profunda,
                  aliviar el estrés, reducir el dolor y estimular el proceso de
                  sanación física y emocional. Es una práctica no invasiva y
                  complementaria a la medicina convencional, siendo utilizada
                  como una herramienta para mejorar el bienestar integral de la
                  persona. Cabe mencionar que el Reiki no requiere de creencias
                  específicas y puede ser beneficioso para personas de distintas
                  religiones o creencias espirituales.
                </p>
              </div>
              <div class="img-7"></div>
            </div>

            <div class="item">
              <div class="img-8"></div>
              <div class="texto-der">
                <h3>Rito del útero</h3>
                <p>
                  El rito del útero, también conocido como Munay-Ki del Útero o
                  Rito de Bendición del Útero, es una ceremonia espiritual que
                  tiene sus raíces en las tradiciones ancestrales de los pueblos
                  originarios de América. Este rito busca honrar y sanar la
                  energía femenina y el poder creativo que reside en el útero,
                  independientemente de la condición física de la mujer. A
                  través de esta práctica, se busca conectar con la esencia
                  sagrada de la feminidad y liberar cualquier carga emocional o
                  energética que pueda estar presente en este centro energético.
                  Muchas mujeres encuentran en este rito una fuente de
                  empoderamiento y sanación, fortaleciendo su conexión con la
                  naturaleza y su propia esencia femenina. Es importante
                  destacar que el rito del útero es una práctica espiritual y no
                  tiene afiliación religiosa específica, por lo que puede ser
                  adaptado y celebrado de diversas maneras según las creencias y
                  preferencias individuales.
                </p>
              </div>
            </div>
          </div>
          <button id="go-top" class="go-top-button">
            <ion-icon name="arrow-up-outline"></ion-icon
            ><span> Volver Arriba </span>
          </button>
        </div>
      </section>

      {% endblock %} {% block footer %}
      <footer class="contenedor_pie">
        <div>
          <p>&copy; Olympia 2023</p>
        </div>
        <div class="iconos">
          <a href="https://www.facebook.com/OlympiaCentroHolistico"
            ><i class="fab fa-facebook" title="Facebook"></i
          ></a>
          <a href="#"><i class="fab fa-instagram" title="instagram"></i></a>
          <a href="#"><i class="fab fa-whatsapp" title="whatsapp"></i></a>
          <a href="#"
            ><i class="fas fa-envelope" title="Correo Electronico"></i
          ></a>
        </div>
      </footer>
      {% endblock %}
    </main>
  </body>
</html>
