{% extends 'index.html' %}

 {% block title %} <title>Nosotros</title>{% endblock %}
<body>
    
    <main>
            {% block content %} 
        <section class="nosotros">
            <h2>¡Somos Olympia!</h2>
            <p>Desde nuestra inauguración en 2009, hemos sido un faro de serenidad y sanación en el corazón de la comunidad.
                En Olympia, creemos en la conexión profunda entre mente, cuerpo y espíritu, y nos esforzamos por ser un
                refugio donde puedas cultivar esta armonía.</p>
    
            <h3>Nuestra Misión</h3>
            <p>Nuestra misión es proporcionar un espacio sagrado y acogedor donde las prácticas de yoga y terapias
                holísticas se entrelazan para fomentar la sanación integral. Buscamos promover la salud física, mental y
                emocional, guiando a nuestros estudiantes hacia un estado de bienestar equilibrado.</p>
    
            <h3>Experiencia y Profesionalismo</h3>
            <p>Nuestro equipo de instructores y terapeutas está compuesto por profesionales apasionados y dedicados que
                cuentan con una amplia experiencia en sus respectivos campos. Cada uno de ellos está comprometido a guiarte
                en tu camino hacia la salud y el bienestar.</p>
    
            <h3>Comunidad y Espíritu</h3>
            <p>Olympia, creemos en la fuerza de la comunidad. A lo largo de los años, hemos construido una red de
                individuos comprometidos con el crecimiento personal y la búsqueda de la paz interior. Nuestro espacio es un
                refugio para aquellos que buscan un respiro del ajetreo y el estrés del mundo moderno.</p>
    
            <h3>Compromiso con el Crecimiento Continuo</h3>
            <p>Estamos dedicados a la evolución constante y la expansión de nuestros servicios. A lo largo de los años, hemos
            agregado una amplia variedad de clases y terapias para satisfacer las necesidades cambiantes de nuestros
            estudiantes. Estamos comprometidos a proporcionar herramientas y recursos que te guíen en tu viaje hacia el
            bienestar duradero.</p>
    
            <h3>Únete a Nosotros</h3>
            <p>Te invitamos a ser parte de nuestra comunidad en Olympia. Ya seas un principiante curioso o un practicante
            experimentado, estamos aquí para apoyarte en tu viaje hacia una vida más equilibrada y plena.</p>
    
            <p id="cierre">¡Esperamos darte la bienvenida pronto!</p>
        </section>
    
        {% endblock %}   
</main>
</body>

</html>