{% extends 'index.html' %}

 {% block title %} <title>Registrate</title>{% endblock %}

<body>

    <main>
        
        {% block content %}
  <section id="contacto">
            <article class="formContainer">
                <form class="form" id="registroForm">
                    <div class="form_title">
                        <h1 >Regístrate</h1>
                        <p>Obtén un 15% de descuento en el primer mes</p>
                    </div>
                    <div class="form_container">
                        <div class="form_group">
                            <input type="text" id="nombre" class="form_input" placeholder="Nombre completo">
                            <span class="form_line"></span>
                        </div>
        
                        <div class="form_group">
                            <input type="text" id="apellido" class="form_input" placeholder="Apellido/s">
                            <span class="form_line"></span>
                        </div>
        
                        <div class="form_group">
                            <input type="text" id="email" class="form_input" placeholder="Correo electrónico">
                            <span class="form_line"></span>
                        </div>
        
                        <div class="form_group">
                            <input type="password" id="password1" class="form_input" placeholder="Contraseña">
                            <span class="form_line"></span>
                        </div>
                        <div class="form_group">
                            <input type="password" id="password2" class="form_input" placeholder="Repetir contraseña" >
                            <input type="checkbox" id="mostrar" onclick="mostrarContrasena()">
                            <label for="mostrar">Mostrar Contraseña</label>
                            <span class="form_line"></span>
                        </div>
                    <p id="mensajeError" style="color: red;"></p>
                    <button class="enviar" type="submit" onclick="validarRegistro()">Enviar</button>
                    <p id="form-status"></p>
                    </div>
                </form>        
            </article>
            <article class="imgContainer">
                <img src="{{ url_for('static', filename='imagenes/Yoga02.jpg') }}" alt="" />
                <div class="degradado"></div>
            </article>
        </section>

        {% endblock %}
    <script src="./js/formspreeRegistro.js"></script>
    <script src="./js/validacionRegistro.js"></script>
    </main>
</body>

</html>










